.MessBuddy {
  font-family: 'Century Gothic';
  font-weight: 400;
  font-size: 2.2rem;
  text-align: center;
  color: #000000;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.InputField {
  width: 220px;
  padding: 0.5%;
  margin-top: 1vh;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
}

.RegisterNow {
  background: #BB0C24;
  border-radius: 100px;
  border: none;
  margin-top: 3vh;
  padding: .5rem;
  width: 120px;
  color: white;
}

.RegisterNow:hover {
  cursor: pointer;
}

.Message {
  margin-top: 14vh;
}
.login{
  color: red;
  cursor: pointer;
}
.logo{
  height: 30vh;
  width: auto;
}